@media (width <= 767px) {
  body {
    position: fixed;
    overflow: hidden;
  }

  body main.intro {
    place-content: center;
    margin: 0;
    padding: 0;
    display: grid;
    inset: 0;
  }

  body main.intro .content-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .navbar .logo-link {
    height: 45px;
  }

  .navbar .logo-link img {
    height: 100%;
  }

  main.intro .content-container * {
    text-align: justify;
  }

  div.content-container .sub-title {
    place-content: center;
    font-size: min(1.5rem, 2vw);
    display: grid;
  }

  div.text-animated-container {
    width: -moz-fit-content;
    width: fit-content;
  }

  div.content-container .title {
    font-size: clamp(2vw, 3.5em, 8vw);
  }

  div.content-container .title.span {
    font-size: clamp(1.5vw, 2.5em, 6vw);
  }

  div.content-container .description {
    place-content: center;
    margin: 0;
    font-size: max(13px, 2.5vw);
    display: grid;
  }

  div.content-container .description .animated-item {
    margin-top: 30px;
    padding: 0 clamp(25px, 1rem, 10vw);
  }

  div.content-container .description {
    width: min(90vw, 500px);
  }

  .animated-item {
    width: -moz-fit-content;
    width: fit-content;
  }

  div.content-container div.start-ui {
    place-content: center;
    margin: 20px 0 0;
    padding: 0;
    display: grid;
  }

  div.content-container div.start-ui * {
    margin: 0;
  }

  div.content-container div.start-ui .ui-title {
    font-size: min(1rem, 3vw);
  }

  div.content-container div.ui-controls {
    justify-content: center;
    width: 100vw;
    height: min(180px, 10vh);
  }

  div.content-container div.ui-controls #start-scene {
    margin: 0;
  }

  div.content-container div.ui-controls #start-scene:after {
    text-align: center;
    margin: 0;
    font-size: min(1rem, 3vw);
    top: -20px;
    left: 50%;
    transform: translate(-50%);
  }

  div.content-container div.ui-controls #toggle-sound {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
  }

  .content.active-section {
    width: 140vw !important;
  }

  .home-swiper {
    width: 100%;
  }

  .home-swiper .list-container {
    flex-wrap: wrap;
  }

  .home-swiper .list-container .btn-sub-page-container {
    justify-content: end;
    width: 47.6191%;
    margin: 2px 0;
  }

  .alternative.active-section.content * {
    text-align: center;
    margin: 0;
  }

  .alternative.active-section.content {
    justify-content: center;
    align-items: center;
    display: flex !important;
  }

  .alternative.active-section.content .title {
    font-size: 30px;
  }

  .alternative.active-section.content .external-links.list-container {
    justify-content: center;
    margin: 0;
  }

  .content.active-section .blog-slide-container {
    width: 110%;
    max-height: 95vh;
  }

  .content.active-section .blog-slide-container .blog-slide {
    width: 100%;
  }

  .content.contact-section.active-section div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
  }

  .content.contact-section.active-section div h2 {
    text-align: center;
  }

  .content.contact-section.active-section div .section {
    margin: 15px 0 0;
  }

  .content.contact-section.active-section div .section label {
    font-size: 15px;
  }

  .content.contact-section.active-section div .section input {
    width: 50%;
  }

  .content.contact-section.active-section div .contact-container {
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 60px;
  }

  .content.contact-section.active-section div #contact-send-btn {
    margin: 40px 0 0;
  }

  .content.contact-section.active-section div .contact-preview {
    display: none;
  }

  .content.contact-section.active-section div .contact-blur {
    height: 100%;
  }

  .content.contact-section.active-section div .footer-form {
    width: 100%;
  }

  .content.contact-section.active-section div .footer-form .follow-us {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .content.active-section .title {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .content.active-section .description {
    margin: 0;
    padding: 0 30px;
    font-size: 15px;
    line-height: 20px;
  }

  .content.active-section .list-container {
    margin-top: 30px;
  }

  .content.ntfs-section.active-section div {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .content.ntfs-section.active-section div .title {
    width: 92%;
    font-size: 35px;
    margin-bottom: 20px !important;
  }

  .content.ntfs-section.active-section div .description {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0 !important;
  }

  .content.ntfs-section.active-section div .img-preview {
    height: 230px;
    margin-bottom: 20px !important;
  }

  .content.ntfs-section.active-section * {
    text-align: center !important;
    margin: 0 !important;
  }

  .content.network-sub-page-content.active-section .description {
    padding: 0 !important;
    font-size: 20px !important;
    line-height: 20px !important;
  }

  div#navigator {
    justify-content: center;
    padding: 0;
  }

  div#navigator .icon img {
    width: 45px !important;
    height: 45px !important;
  }

  div#back-btn {
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 2px;
  }

  .dot img {
    width: 120px !important;
    height: 120px !important;
  }

  .dot .icon.network-sub-page img {
    width: 80px !important;
    height: 80px !important;
  }
}

/*# sourceMappingURL=index.f52f494f.css.map */
